<mat-card>
    <mat-card-title>
        <div class="row">
            <span i18n>Encode/Decode</span>
            <div class="spacer"></div>
            <div>
                <button type="button" mat-raised-button color="primary" [matMenuTriggerFor]="type">{{ current }}</button>
                <mat-menu #type="matMenu">
                    <button mat-menu-item *ngFor="let type of all" (click)="onChangeType(type)">{{ type }}</button>
                </mat-menu>
            </div>
        </div>
    </mat-card-title>
    <mat-card-content>
        <app-encoding-base64 *ngIf="current == 'base64'"></app-encoding-base64>
        <app-encoding-md5 *ngIf="current == 'md5'"></app-encoding-md5>
    </mat-card-content>
</mat-card>