<mat-card>
    <mat-card-title>
        <div class="row">
            <span i18n>Random String</span>
            <span class="spacer"></span>
            <button mat-raised-button color="primary" (click)="generateAndCopy()" i18n>Generate And Copy</button>
        </div>
    </mat-card-title>
    <mat-card-content>
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label i18n>Length</mat-label>
                <input matInput type="number" [(ngModel)]="count">
            </mat-form-field>
            <span class="spacer"></span>
            <p class="result" (click)="copy()">{{ randomString }}</p>
        </div>
        <div class="row">
            <mat-checkbox class="row-item" [(ngModel)]="upper" i18n>Upper case letter</mat-checkbox>
            <mat-checkbox class="row-item" [(ngModel)]="lower" i18n>Lower case letter</mat-checkbox>
            <mat-checkbox class="row-item" [(ngModel)]="digital" i18n>Digital letter</mat-checkbox>
            <mat-checkbox class="row-item" [(ngModel)]="special" i18n>Special letter</mat-checkbox>
        </div>
    </mat-card-content>
</mat-card>