<mat-card>
    <mat-card-title class="row">
        <span>Date Time</span>
        <span class="spacer"></span>
        <mat-slide-toggle [checked]="showMills" (change)="switchMills()" matTooltip="{{ i18n_showMills }}">
        </mat-slide-toggle>
    </mat-card-title>
    <mat-card-content>
        <app-time-covert></app-time-covert>
        <div class="row">
            <span (click)="copyDateTime()" matTooltip="{{ i18n_copyValue }}">{{ now | date: nowFormat }}</span>
            <span class="spacer"></span>
            <span (click)="copyEpochNow()" matTooltip="{{ i18n_copyValue }}">{{ epochNow }}</span>
        </div>
    </mat-card-content>
</mat-card>