<div class="row">
    <mat-form-field class="row-item" appearance="fill">
        <mat-label i18n>Origin String</mat-label>
        <textarea matInput i18n-placeholder="Input Date Time" (input)="onInputChangeOrigin()" [(ngModel)]="origin" cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="20"></textarea>
    </mat-form-field>
    <span class="spacer"></span>
    <mat-icon>keyboard_arrow_left</mat-icon>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <span class="spacer"></span>
    <mat-form-field class="row-item" appearance="fill">
        <mat-label i18n>Encoded String</mat-label>
        <textarea matInput i18n-placeholder="Input epoch" (input)="onInputChangeEncoded()" [(ngModel)]="encoded" cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="20"></textarea>
    </mat-form-field>
</div>