<mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <a mat-button herf="javascript: void(0)">Awesome</a>
        <span class="spacer"></span>
        <a mat-button [routerLink]="['/toolbox']">Tool Box</a>
        <a mat-button [routerLink]="['/wiki']">Wiki</a>
        <span class="spacer"></span>
        <app-lang-selector></app-lang-selector>
      </mat-toolbar>
      <mat-divider></mat-divider>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
