<div class="row">
    <mat-form-field class="row-item" appearance="fill">
        <mat-label i18n>JSON string</mat-label>
        <textarea matInput class="json1-content" i18n-placeholder="Input Json1" (input)="onInputChangeJson1()" [(ngModel)]="json1"></textarea>
    </mat-form-field>
    <mat-card class="row-item">
        <div class="row">
            <mat-icon (click)="compressOrExpand()" matTooltip="{{ compress ? i18n_compress : i18n_expand }}">storage</mat-icon>
            <mat-icon (click)="copy()" matTooltip="{{ i18n_copyValue }}">file_copy</mat-icon>
            <span class="spacer"></span>
            <mat-icon [matMenuTriggerFor]="indent" matTooltip="{{ i18n_indent }}">settings</mat-icon>
            <mat-menu #indent="matMenu">
                <button mat-menu-item *ngFor="let i of allIndents" (click)="onChangeIndent(i)">{{ i18n_setIndent }}{{ i }}</button>
            </mat-menu>
        </div>
        <pre *ngIf="json2">
            <code class="json2-content" [highlight]="json2"></code>
        </pre>
    </mat-card>

</div>