<div class="row">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label i18n>Date Time</mat-label>
    <input matInput i18n-placeholder="Input Date Time" (input)="onInputChangeDateTime()" [(ngModel)]="dateTime">
  </mat-form-field>
  <span class="spacer"></span>
  <mat-icon>keyboard_arrow_left</mat-icon>
  <mat-icon>keyboard_arrow_right</mat-icon>
  <span class="spacer"></span>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>epoch</mat-label>
    <input matInput i18n-placeholder="Input epoch" (input)="onInputChangeEpoch()" [(ngModel)]="epoch">
  </mat-form-field>

</div>