<div layout="row" style="padding-top: 16px;">
   <div flex>
    <mat-form-field class="example-full-width" appearance="fill" >
        <mat-label i18n>Date Time</mat-label>
        <input matInput i18n-placeholder="Input Date Time" (input)="onInputChangeDateTime()" [(ngModel)]="dateTime">
      </mat-form-field>
   </div> 
   <div flex>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>epoch</mat-label>
        <input matInput i18n-placeholder="Input epoch" (input)="onInputChangeEpoch()" [(ngModel)]="epoch"> 
      </mat-form-field>
   </div>
      
    </div>