.row {
    display: flex;
    width: 100%;
}

.row-item {
    flex: 2 1 auto;
}

.spacer {
    flex: 1 1 auto;
  }

.mat-card {
    padding: 0;
    margin-bottom: 1.34375em;
    box-shadow: none;
}

.mat-icon {
    padding: .2em;
    cursor: pointer;
}

pre {
    display: flex;
    font-family: monospace;
    white-space: pre;
    margin: 0em 0px;
}

.json1-content {
    height: calc(100vh - 120px);
}

.json2-content {
    max-height: calc(100vh - 120px - 0.4em - 24px + 4px);
    flex: 1 1 auto;
}