.example-full-width {
    min-width: 50%;
}

.row {
    display: flex;
    width: 100%;
}

.spacer {
    flex: 1 1 auto;
  }

.mat-card {
    padding: 0;
    margin-bottom: 1.34375em;
    box-shadow: none;
}

.mat-icon {
    padding: .2em;
    cursor: pointer;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 0em 0px;
}